{% extends 'html/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container mt-5">
	<div class="jumbotron">
		<h3>
			{% if user.is_superuser %}
			<h3>Admin Dashboard</h3>
			{% elif user.role == 1 %}
			<h3>Donor Dashboard</h3>
			<h4><a href="{% url 'details' %}">View Organisation Details</a></h4>
			{% elif user.role == 2 %}
			<h3>Organiser Dashboard</h3><br>
			<h4><a href="{% url 'oreq' %}">Update Organisation Details</a></h4>
			{% else %}
			<h3>Welcome</h3>
			{% endif %}
		</h3>
	</div>
</div>


{% endblock %}