{% extends 'html/base.html' %}
{% block title %}Donate{% endblock %}
{% block content %}
<div class="container-fluid mt-4">
	<div class="card-body">
		<div id="tabs">
  			<ul> 
    			<li><a href="#tab1"class="btn btn col-sm my-2 mx-auto"><h4>Yearly / Monthly / Quarterly / One Time Donation</h4></a></li>
    			<li><a href="#tab2"class="btn btn col-sm my-2 mx-auto"><h4>Any Occasion</h4></a></li>
  			</ul>
  			<div id="tab1">
  				<div class="container-fluid mt-2">
				<div class="row">
				<div class="card col-md-3 mt-2 shadow-lg">
				<div class="card-body">
				<form method="POST">
				{% csrf_token %}
				<h3 class="my-2 block bg bg-info text-center text-white p-2 border rounded">Donation Details</h3>
				<table>
				<tr>{{a.as_p}}</tr>
			   </table>
				<div class="row">
						<div class="col">
							<input type="reset" name="Reset" class="btn btn-danger col-sm">
						</div>
						<div class="col">
							<input type="Submit" class="form-control btn btn-success col-sm" name="subscribe">
						</div>
				</div>
				</form>
			</div>
		</div>
		<div class="card col-md mt-2 shadow-lg">
			<div class="card-body">
				<table class="table table-borderless table-center">
					<tr class="bg-dark text-light text-center">
						<th>S.no</th>
						<th>Donating Way</th>
						<th>Donating to</th>
						<th>Sponsor Way</th>
						<th>Donating On</th>
						<th>Actions</th>
					</tr>
            		{% for k in x %}
            		<tr>
            			<td>{{forloop.counter}}.</td>
            			<td>{{k.ways_to_donate}}</td>
            			<td>{{k.donating_to}}</td>
            			<td>{{k.sponsor_way}}</td>
            			<td>{{k.donating_date}}</td>
            			<td colspan="3">
            				<a href="{% url 'up' k.id %}" class="btn btn-success mx-1">Update</a>
            				<a href="{% url 'dele' k.id %}" class="btn btn-danger mx-1">Delete</a>
            				{% if k.sponsor_way == 'Money' %}
		    				<a href="{% url 'pay' %}" class="btn btn-info mx-1">Payment</a>
            				{% elif k.sponsor_way == 'Food' %}
		    				<a href="{% url 'msg' k.id %}" class="btn btn-info mx-1">Proceed</a>
		    				{% elif k.sponsor_way == 'Clothes' %}
		    				<a href="{% url 'msg' k.id %}" class="btn btn-info mx-1">Proceed</a>
		    				{% else %}
		    				<a href="#" class="btn btn-secondary">None</a>
		    				{% endif %}
            			</td>
            		</tr>
            		{% endfor %}
            	</table>
			</div>
		</div>
	</div>
</div>
</div>
<div id="tab2">
  	<div class="container-fluid mt-2">
	<div class="row">
		<div class="card col-md-3 mt-2 shadow-lg">
			<div class="card-body">
				<form method="POST">
				{% csrf_token %}
				<h3 class="my-2 block bg bg-info text-center text-white p-2 border rounded">Donation Details</h3>
				<table>
				<tr>{{b.as_p}}</tr>
			   </table>
				<div class="row">
						<div class="col">
							<input type="reset" name="Reset" class="btn btn-danger col-sm">
						</div>
						<div class="col">
							<input type="Submit" class="form-control btn btn-success col-sm" name="subscribe">
						</div>
				</div>
				</form>
			</div>
		</div>
		<div class="card col-md mt-2 shadow-lg">
			<div class="card-body">
				<table class="table table-borderless table-center">
					<tr class="bg-dark text-light text-center">
						<th>S.no</th>
						<th>Donating Way</th>
						<th>Occassion Name</th>
						<th>Donating to</th>
						<th>Sponsor Way</th>
						<th>Donating On</th>
						<th>Actions</th>
					</tr>
            		{% for j in h %}
            		<tr>
            			<td>{{forloop.counter}}.</td>
            			<td>{{j.donating_way}}</td>
            			<td>{{j.occ_name}}</td>
            			<td>{{j.donating_to}}</td>
            			<td>{{j.sponsor_way}}</td>
            			<td>{{j.donating_on}}</td>
            			<td colspan="3">
            				<a href="{% url 'occdet' j.id %}" class="btn btn-success col-sm my-1">Update</a><br>
            				<a href="{% url 'odel' j.id %}" class="btn btn-danger col-sm my-1">Delete</a><br>
		    				<a href="{% url 'pay' %}" class="btn btn-info col-sm my-1">Proceed</a>
            			</td>
            		</tr>
            		{% endfor %}
            	</table>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
</div>
<script>
  $( function() {
    $( "#id_donating_date" ).datepicker();
    $( "#id_donating_on" ).datepicker();
    $( "#tabs" ).tabs();
  } );
  </script>

{% endblock %}