{% extends 'html/base.html' %}
{% block title %}Donate{% endblock %}
{% block content %}
<div class = "container mt-5">
	<div class = "jumbotron">
		<h3> Welcome {{user.username}} ,</h3><br>
		<h4>We will Conduct Campaigns on a particular day to achieve our Goal to protect children...</h4><br>
		<h4>If you are willing to join us ...Leave us your details here... We will get back to you shortly...!!!</h4>
	</div>
</div>
<div class="container">
	<div class="card mx-auto col-md-5">
		<div class="card-body">
			<form method="POST" enctype="multipart/form-data">
				<h3>Fill this form.. to JoinUs </h3>
				{% csrf_token %}
				<input type="text" name="uname" placeholder="Enter Username" class="form-control my-2" value="{{request.user.username}}" readonly>
				<input type="email" name="email" placeholder="Enter your Mail ID" class="form-control my-2" value="{{request.user.email}}">
				<input type="Number" name="ph" placeholder="Enter your Phone Number" class="form-control my-2">
				<textarea class="form-control my-2" cols="10" rows="5" placeholder="Leave us a message" name="msg"></textarea>
				<div class="row">
					<div class="col">
					<input type="reset" name="Reset" class="btn btn-danger col-sm">
					</div>
					<div class="col">
					<input type="submit" value="Submit" class="btn btn-success col-sm">
					</div>
                </div>
			</form>
		</div>
	</div>
</div>
{% endblock %}