
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="{% url 'hm' %}">Children Welfare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      {% if not user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hm' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lg' %}">Login</a>
      </li>
      {% elif user.is_superuser %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mn' %}">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash' %}">DashBoard</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="{% url 'per' %}">Permissions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lgo' %}">Logout</a>
      </li> 
      {% elif user.role == 1 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mn' %}">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash' %}">DashBoard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'don' %}">Donate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lgo' %}">Logout</a>
      </li>
      <li class="dropdown">
       <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'chpas' %}">Change Password</a>
    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
  </div>
</li>
{% elif user.role == 2 %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mn' %}">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash' %}">DashBoard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lgo' %}">Logout</a>
      </li>
      <li class="dropdown">
       <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'chpas' %}">Change Password</a>
    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
  </div>
</li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'mn' %}">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'dash' %}">DashBoard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'ureq' %}">Service Request</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="{% url 'lgo' %}">Logout</a>
      </li>  
      <li class="dropdown">
       <a type="button" class="nav-link dropdown-toggle" data-toggle="dropdown">
    {{user.username}}
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="{% url 'chpas' %}">Change Password</a>
    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
  </div>
</li>
      {% endif %}  
    </ul>
  </div>  
</nav>
