{% extends 'html/base.html' %}
{% block title %}Payment{% endblock %}
{% block content %}
{% load static %}
<div class="row mt-4">
  <div class="card mx-auto ">
    <div class="jumbotron" style="margin-bottom:10; height:200px">
      <h3>Donation Invoice &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <img src="{% static 'images/image1.jpg' %}" style="width:100px; height:100px"></h3>
    </div>
  <div class="col-md mx-auto">
      <form action="#" method="POST">
           <h3>Donor Details : </h3>
           <table>
            <tr>
              <td>
           <label for="date"><i class="fa fa-user"></i>&nbsp;&nbsp;Date of Donation :</label>
           <input type="text" id="date" class="form-control" size="40" value="{{request.donate.donating_date}}" name="date" placeholder="Select the Date of Donation">
         </td>
         <td>
           <label for="oname"><i class="fa fa-user"></i>&nbsp; &nbsp;Donating To:</label>
           <input type="text" id="oname" class="form-control mx-2" size="40" value="{{request.Donate.donating_to}}" name="org_name" placeholder="Enter Organisation Name">
         </td>
           </tr>
           <tr>
           <td>
           <label for="uname"><i class="fa fa-user"></i>&nbsp; User Name :</label>
           <input type="text" id="uname" class="form-control" value="{{request.user.username}}" readonly name="uname" placeholder="Enter User Name">
         </td>
         <td>
           <label for="email"><i class="fa fa-envelope"></i>&nbsp; &nbsp;Email ID :</label>
           <input type="text" id="email" class="form-control mx-2" value="{{request.user.email}}" readonly name="email" placeholder="Enter Mail ID">
         </td>
       </tr>
       <tr>
         <td>
           <label for="phno"><i class="fa fa-user"></i>&nbsp;Phone Number:</label>
           <input type="number" id="Phone Number" class="form-control" value="{{request.user.ph_no}}" name="ph_no" placeholder="Enter Phone Number">
         </td>
         <td>
           <label for="adr"><i class="fa fa-address-card-o"></i>&nbsp; &nbsp;Address :</label>
           <input type="text" id="adr" class="form-control mx-2" value="{{request.user.address}}" name="address" placeholder="Enter Full Address">
         </td>
       </tr>
       <tr>
         <td>
           <label for="city"><i class="fa fa-institution"></i>&nbsp;City :</label>
           <input type="text" id="city" value="{{request.user.city}}" name="city" class="form-control" placeholder="Enter your City">
         </td>
         <td>
           <label for="state">&nbsp; &nbsp;State :</label>
           <input type="text" id="state" value="{{request.user.state}}" name="state" class="form-control mx-2" placeholder="Enter your State">
         </td>
       </tr>
       <tr>
         <td>
           <label for="zip">&nbsp;Zip :</label>
           <input type="text" id="zip" class="form-control" value="{{request.user.postal_code}}"name="zip" placeholder="Enter your Pin Code">
         </td>
         <td>
           <label for="country">&nbsp; &nbsp;Country :</label>
           <input type="text" id="country" value="{{request.user.country}}" name="country" class="form-control mx-2" placeholder="Enter your Country">
         </td>
       </tr>
          </table>
            <h3>Payment Details : </h3>
            <table>
              <tr>
                <td>
            <label for="amount">&nbsp; Amount :</label>
           <input type="number" size="40" id="amount" name="amount" class="form-control" placeholder="Total Amount">
         </td>
         <td>
            <label for="cards">&nbsp; &nbsp;Accepted Cards :</label>
            <select name="text" class="form-control mx-2">
            <option value="Select Your card type">Select Your card type</option>
            <option value="Credit">Credit</option>
            <option value="Debit">Debit</option>
          </select>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="cname">&nbsp;Name on Card :</label>
            <input type="text" class="form-control" size="40" id="cname" name="cname" placeholder="Name on your card">
          </td>
          <td>
            <label for="bname">&nbsp;&nbsp;Bank Name:</label>
            <input type="text" class="form-control mx-2" size="40" id="bname" name="bankname" placeholder="Name of your Bank">
          </td>
        </tr>
        <tr>
          <td>
            <label for="ccnum">&nbsp;Card number :</label>
            <input type="text" class="form-control" size="40" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
          </td>
          <td>   
          <label for="cvv">&nbsp;&nbsp;CVV :</label>
          <input type="text" class="form-control mx-2" id="cvv"size="40" name="cvv" placeholder="Your CVV number">
          </td>
          <tr>
          <td>
          <label for="expyear">&nbsp;Exp Year :</label>
          <input type="text" class="form-control" size="40" id="expyear" name="expyear" placeholder="Your card expires Year"> 
          </td>
          <td>
            <label for="expmonth">&nbsp; &nbsp;Exp Month :</label>
            <input type="text" class="form-control mx-2" size="40" id="expmonth" name="expmonth" placeholder="Your card expires month">
          </td>
          </tr>
         </table>
        {% csrf_token %}
        {{form.as_p}}
        <div class="row my-2">
            <div class="col">
              <input type="reset" name="Reset" class="btn btn-danger col-sm-8 mx-4">
            </div>
            <div class="col">
              <input type="submit" value="Pay" class="form-control btn btn-success col-sm-8 mx-1" >
          <!-- <a href="{% url 'paymsg' %}" class="form-control btn btn-success col-sm-8 mx-1">Pay</a> -->
            </div>
        </div>            
</form>
</div>
</div>
</div>
<script>
  $( function() {
    $( "#date" ).datepicker();
  } );
  </script>
{% endblock %}