{% extends 'html/base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="coantainer">
	<div class="card mx-auto col-md-4 mt-5">
		<div class="card-body">
			<form method="POST">
				{% csrf_token %}
				<h3>Registration</h3>
				<table class="table table-borderless">
					{% for i in y %}
					<tr>
						<td>
							{{i}}
						</td>
					</tr>
					{% endfor %}
				</table>
				<div class="row">
						<div class="col">
							<input type="reset" name="Reset" class="btn btn-danger col-sm">
						</div>
						<div class="col">
							<input type="Submit" class="form-control btn btn-success col-sm" name="subscribe">
						</div>
				        <div class="col">
						<a href="{% url 'lg' %}" class="form-control btn btn-info col-sm">ExistingUser</a>
					</div>
				</div>
				</div>
			</form>
		</div>
	</div>
	
</div>
{% endblock %}